In [1]:
import pandas as pd
import numpy as np
import pymysql

In [2]:
conn=pymysql.connect(host='localhost',port=int(3309),user='root',passwd='',db='cprs')
conn!=False

True

In [14]:
sc=pd.read_sql(f"SELECT * FROM similar_content", conn)
# sc.index=sc['index']
# sc.drop(["index"], axis=1, inplace=True)
sc

        index  showID  similarContentID
0           0       0             20827
1           1       0              6359
2           2       0              1087
3           3       0              2148
4           4       0              1011
...       ...     ...               ...
484645     25   23532              8849
484646     26   23532             19923
484647     27   23532               152
484648     28   23532              7624
484649     29   23532              8319

[484650 rows x 3 columns]

In [15]:
sc.loc[0]

index                   0
showID                  0
similarContentID    20827
Name: 0, dtype: int64

index               False
showID              False
similarContentID    False
dtype: bool

In [23]:
%%time
try:
    with conn.cursor() as cur:
        for i in sc.index:
            row=sc.loc[i]
            s1, s2=row["showID"], row["similarContentID"]
            cur.execute(f"INSERT INTO SimilarContent VALUES ({s1}, {s2});")
#             show=shows.loc[i]
#             plat=[str(platforms.loc[platform].PlatformID) for platform in show.platforms.split(", ")]
#             plat=", ".join(plat)            
            
#             cur.execute(f"INSERT INTO Shows VALUES ({show.title_index}, '{show.title}', '{show.genres}', "+
#                         f"'{show.content_type}', '{show.directors}', '{show.actors}', "+
#                         f"'{show.content_rating}', '{show.release_year}', '{show.summary}', "+
#                         f"{languages.loc[show.language].languageID}, '{plat}', "+
#                         f"'{re.escape(show.poster_url)}', {show.average_rating_from_imdb}, {show.count_of_ratings_imdb});")
        conn.commit()
except Exception as error:
    print(error)

Wall time: 1min 15s

In [24]:
sc2=pd.read_sql(f"SELECT * FROM similarcontent", conn)
# sc.index=sc['index']
# sc.drop(["index"], axis=1, inplace=True)
sc2

        contentID  similarContentID
0               0               358
1               0               850
2               0              1011
3               0              1087
4               0              2148
...           ...               ...
484645      23532             22921
484646      23532             23013
484647      23532             23225
484648      23532             23350
484649      23532             23408

[484650 rows x 2 columns]